version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - API_KEY=${API_KEY}
    ports:
      - "80:80"
    restart: always
    environment:
      - API_KEY=${API_KEY}
    networks:
      - gmb-network

networks:
  gmb-network:
    driver: bridge